<section id="aboutme" class="container row mt-5">
    <div class="container profile-container col-md-5">
        <div class="image-container position-relative">
            <img class="image" src="../../../../assets/dostoievski.jpg" alt="user">
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editUser">
                    <i class="fa fa-solid fa-pencil"></i>
                </button>
            </div>
        </div>
        <div class="name-container">
            <h1>Username</h1>
        </div>
        <div class="headline-container">
            <h2>Headline</h2>
        </div>
    </div>
    <div class="container aboutme-container col-md-7">
        <div class="aboutme-title d-flex">
            <h3 class="">About Me</h3>
            <button type="button" class="btn btn-success">
               <i class="fa fa-solid fa-pencil"></i>
            </button>
        </div>     
        <hr class="section-separator">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ab est maiores! Totam distinctio quaerat dolor quas nesciunt fugiat! Obcaecati voluptatum perferendis quaerat distinctio incidunt ad aspernatur enim doloremque nihil?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi obcaecati praesentium quod aliquid ad, placeat, ullam nisi error aliquam esse provident harum adipisci odio ipsam aut eius perferendis dolores perspiciatis.
        </p>
    </div>
</section>


<!--MODALS--->
<app-edit-user-profile>