<section id="projects" class="container mt-5">

    <div class="projects-title d-flex justify-content-between">
        <h3>Projects</h3>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addProject">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <hr class="section-separator">

    <div class="row row-cols-1 row-cols-md-3 mt-1 g-4">

        <div *ngFor="let project of projects" class="col">
            <div class="card">
                <div class="position-relative">
                    <img [src]="project.getPicture()" class="card-img-top image-hover"
                    (error)="handleImageError(project)">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <h5 class="card-title text-white">{{project.getName()}}</h5>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{project.getDescription()}}</p>
                </div>
                <div class="card-footer d-flex justify-content-evenly">
                    <div class="btn-group" role="group">
                        <a [href]="project.getUrl()">
                        <button type="button" class="btn btn-outline-purple">See Repository</button>
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <button (click)="changeSelectedProject(project)"
                        type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editProject">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button (click)="changeSelectedProject(project)"
                        type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProject">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>            
            </div>
        </div>
        
        

      </div>

</section>


<!--MODALS-->
<app-create-project></app-create-project>
<app-edit-project [projectToEdit]="selectedProject"></app-edit-project>
<app-delete-project [projectToDelete]="selectedProject"></app-delete-project>