<div class="modal fade" id="editNetwork" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form [formGroup]="networkForm!" (ngSubmit)="onSubmit()">

        <div class="modal-header">
          <h1 class="modal-title fs-5">Edit Social Network</h1>
          <button type="button" class="btn-close btn-lig" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name"
            type="text" class="form-control" id="name" name="name" placeholder="Github"
            [class.is-valid]="touchedAndValid('name')"
            [class.is-invalid]="touchedAndInvalid('name')">
            <div *ngIf="touchedAndInvalid('name') && networkForm?.get('name')?.hasError('required')"
            class="form-invalid">
              Required.
            </div>
            <div *ngIf="touchedAndInvalid('name') && networkForm?.get('name')?.hasError('maxlength')"
            class="form-invalid">
              Max length is 50 characters.
            </div>
          </div>
          <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input formControlName="url"
            type="text" class="form-control" id="url" name="url" placeholder="https://github..."
            [class.is-valid]="touchedAndValid('url')"
            [class.is-invalid]="touchedAndInvalid('url')">
            <div *ngIf="touchedAndInvalid('url') && networkForm?.get('url')?.hasError('required')"
            class="form-invalid">
              Required.
            </div>
            <div *ngIf="touchedAndInvalid('url') && networkForm?.get('url')?.hasError('maxlength')"
            class="form-invalid">
              Max length is 255 characters.
            </div>
          </div>
          <div class="mb-3">
            <label for="icon" class="form-label">Icon</label>
            <input formControlName="icon"
            type="text" class="form-control" id="icon" name="icon" placeholder="fa fa-solid fa-github"
            [class.is-valid]="touchedAndValid('icon')"
            [class.is-invalid]="touchedAndInvalid('icon')">
            <div *ngIf="touchedAndInvalid('icon') && networkForm?.get('icon')?.hasError('required')"
            class="form-invalid">
              Required.
            </div>
            <div *ngIf="touchedAndInvalid('icon') && networkForm?.get('icon')?.hasError('maxlength')"
            class="form-invalid">
              Max length is 100 characters.
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>

      </form>
    </div>
  </div>
</div>