<section id="skills" class="container">

    <div class="skills-title d-flex justify-content-between">
        <h3>Skills</h3>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addSkill">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <hr class="section-separator">

    <div class="row">
    
        <div class="col-md-6 mt-2">
    
            <h5>Technical Skills</h5>

            <ul class="skill-list list-group list-group-flush">
                <li *ngFor="let skill of hardSkills" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">

                        <div class="skill-name-container d-flex justify-content-between">

                            <div class="skill-name fw-bold"> 
                                <i [ngClass]="skill.getIcon()" class="skill-icon "></i> {{skill.getName()}}
                            </div>

                            <div class="edit-delete-btns-container d-flex justify-content-evenly">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editSkill">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletekill">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>

                        </div>
                        <p class="skill-description text-wrap">{{skill.getDescription()}}</p>
                    </div>
                </li>
            </ul>
    
        </div>
    
        <div class="col-md-6 mt-2">
    
            <h5>Soft Skills</h5>

            <ul class="skill-list list-group list-group-flush">
                <li *ngFor="let skill of softSkills" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">

                        <div class="skill-name-container d-flex justify-content-between">

                            <div class="skill-name fw-bold"> 
                                <i [ngClass]="skill.getIcon()" class="skill-icon "></i> {{skill.getName()}}
                            </div>

                            <div class="edit-delete-btns-container d-flex justify-content-evenly">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editSkill">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletekill">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>

                        </div>
                        <p class="skill-description text-wrap">{{skill.getDescription()}}</p>
                    </div>
                </li>
            </ul>
    
        </div>
    
    </div>

</section>

<!--MODALS-->
<app-create-skill></app-create-skill>