<div class="modal fade" id="addNetwork" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form [formGroup]="networkForm!" (ngSubmit)="onSubmit()">

        <div class="modal-header">
          <h1 class="modal-title fs-5">Add Social Network</h1>
          <button type="button" class="btn-close btn-lig" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name"
            type="text" class="form-control" id="name" name="name" placeholder="Github"
            [class.is-valid]="touchedAndValid('name')"
            [class.is-invalid]="touchedAndInvalid('name')">
          </div>
          <div class="mb-3">
            <label for="url" class="form-label">URL</label>
            <input formControlName="url"
            type="text" class="form-control" id="url" name="url" placeholder="https://github..."
            [class.is-valid]="touchedAndValid('url')"
            [class.is-invalid]="touchedAndInvalid('url')">
          </div>
          <div class="mb-3">
            <label for="icon" class="form-label">Icon</label>
            <input formControlName="icon"
            type="text" class="form-control" id="icon" name="icon" placeholder="fa fa-solid fa-github"
            [class.is-valid]="touchedAndValid('icon')"
            [class.is-invalid]="touchedAndInvalid('icon')">
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Understood</button>
        </div>

      </form>
    </div>
  </div>
</div>