<section id="network" class="container mt-5">

    <h3>Network</h3>

    <hr class="section-separator">

    <div class="row d-flex justify-content-evenly">

        <div class="col-ms-6 col-md-3 network-item mt-2">
            <div class="network-icon-container bg-dark">
                <i class="fa fa-github text-light"></i>
            </div>
        </div>

        <div class="col-ms-6  col-md-3 network-item mt-2">
            <div class="network-icon-container bg-primary">
                <i class="fa fa-linkedin text-ligth"></i>
            </div>
        </div>

        <div class="col-ms-6  col-md-3 network-item mt-2">
            <div class="network-icon-container">
                <i class="fa fa-envelope text-ligth"></i>
            </div>
        </div>

        <div class="col-ms-6 col-md-3 network-item mt-2">
            <div class="network-icon-container bg-light">
                <i class="fa fa-telegram text-primary"></i>
            </div>
        </div>



    </div>

</section>