.network-item {
    display: flex;
    justify-content: center;
    font-size: 5em;
    transition: 0.2s ease-in-out;
}

.network-item:hover,
.network-item:active {
    transform: scale(1.10);
}

.network-icon-container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-icon-container i {
    border-radius: 5px;
}

.network-icon-container:hover {
    cursor: pointer;
}

