
.container-fluid {
    margin: 5px 0 5px 0;
}

.nav-item,
a {
    transition: 0.2s ease-in-out;

}

.nav-item:hover, image:hover {
    transform: scale(1.10);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.089); /* Ajusta el color y la intensidad del brillo */
}

.nav-item:hover a {
    color:rgb(195, 0, 255);
}

.nav-link:hover {
    cursor:pointer;
}


.sections-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
