  
  <div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <form [formGroup]="userForm!" (ngSubmit)="onSubmit()">
      
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editUserLabel">Edit Profile</h1>
            <button type="button" class="btn-close btn-lig" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
      
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input formControlName="name" type="text" class="form-control" id="name" name="name" placeholder="Martín"
              [class.is-valid]="touchedAndValid('name')"
              [class.is-invalid]="touchedAndInvalid('name')">
            </div>
            <div class="mb-3">
              <label for="headline" class="form-label">Headline</label>
              <input formControlName="headline" type="text" class="form-control" id="headline" name="headline"
                placeholder="Software Engineer"
                [class.is-valid]="touchedAndValid('headline')"
                [class.is-invalid]="touchedAndInvalid('headline')">
            </div>
            <div class="mb-3">
              <label for="picture" class="form-label">Picture URL</label>
              <input formControlName="picture" type="text" class="form-control" id="picture" name="picture"
                placeholder="https://drive..."
                [class.is-valid]="touchedAndValid('picture')"
                [class.is-invalid]="touchedAndInvalid('picture')">
            </div>
      
      
      
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Understood</button>
          </div>

        </form>

      </div>
    </div>
  </div>