<section id="education" class="container mt-5 mb-5">

    <div class="education-title d-flex justify-content-between">
        <h3>Education</h3>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addEducation">
            <i class="fa fa-plus bg-warning"></i>
        </button>
    </div>

    <hr class="section-separator">

    <ul class="education-list list-group list-group-flush">
        <li *ngFor="let education of educations" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="education-institution fw-bold"> 
                    <i class="fa fa-solid fa-school"></i> {{education.getInstitution()}}
                </div>
                <div class="education-title fw-semibold">
                    <i class="fa fa-graduation-cap"></i> {{education.getTitle()}}
                </div>
                <p class="education-description text-wrap">
                    {{education.getDescription()}}
                </p>
            </div>
            <div>
                <span class="education-date badge rounded-pill">
                    From {{ education.getStartDate() | date:'MMM, y' }}{{ education.getEndDate() ? ' To ' + (education.getEndDate() | date:'MMM, y') : ' To Present' }}
                </span>
                <div class="d-flex justify-content-evenly mt-2">
                    <button (click)="changeSelectedEducation(education)"
                    type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editEducation">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button (click)="changeSelectedEducation(education)"
                    type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEducation">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>

</section>

<!--MODALS-->
<app-create-education></app-create-education>
<app-edit-education [educationToEdit]="selectedEducation"></app-edit-education>
<app-delete-education [educationToDelete]="selectedEducation"></app-delete-education>