<section id="education" class="container mt-5 mb-5">

    <div class="education-title d-flex justify-content-between">
        <h3>Education</h3>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addEducation">
            <i class="fa fa-plus bg-warning"></i>
        </button>
    </div>

    <hr class="section-separator">

    <ul class="education-list list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="education-institution fw-bold"> 
                    <i class="fa fa-solid fa-school"></i> Escuela Superior del Comercio Carlos Pellegrini
                </div>
                <div class="education-title fw-semibold">
                    <i class="fa fa-graduation-cap"></i> Perito Mercantil
                </div>
                <p class="education-description text-wrap">colegio secundario balblabalasdlabslbldsa Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, excepturi ipsa adipisci quas aut impedit quisquam cumque fuga, non nihil, incidunt facilis? Consequatur ut veritatis optio ratione praesentium expedita tempore.</p>
            </div>
            <div>
                <span class="education-date badge rounded-pill">From 01-2018 To 12-2022</span>
                <div class="d-flex justify-content-evenly mt-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editEducation">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEducation">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="education-institution fw-bold"> 
                    <i class="fa fa-solid fa-school"></i> Universidad de Buenos Aires
                </div>
                <div class="education-title fw-semibold">
                    <i class="fa fa-graduation-cap"></i> Licenciatura en Ciencias de Datos
                </div>
                <p class="education-description text-wrap">la wea fome</p>
            </div>
            <div>
                <span class="education-date badge rounded-pill">From 01-2018 To 12-2022</span>
                <div class="d-flex justify-content-evenly mt-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editEducation">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEducation">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>

</section>

<!--MODALS-->
<app-create-education></app-create-education>