<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg p-3 mb-5 rounded">
        <form [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
            <div class="card-header">
                <h3 class="text-center">Log In</h3>
            </div>
            <div class="card-body">
                <h5 class="text-center mb-2">Do you want to edit your portfolio? Log in and do it!</h5>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input formControlName="email"
                    type="email" class="form-control" name="email" id="email"
                        placeholder="Write your email here"
                    [class.is-invalid]="touchedAndInvalid('email')">
                    <div *ngIf="touchedAndInvalid('email') && loginForm!.get('email')?.hasError('required')"
                    class="form-invalid">
                        Required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input formControlName="password"
                    type="password" class="form-control" name="password" id="password"
                        placeholder="Write your password"
                        [class.is-invalid]="touchedAndInvalid('password')">
                    <div *ngIf="touchedAndInvalid('password') && loginForm!.get('password')?.hasError('required')"
                    class="form-invalid">
                        Required.
                    </div>
                </div>
                <div *ngIf="loginError" class="form-invalid mb-1">
                    The given email or password are invalid.
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>

            </div>
            <div class="card-footer text-center">
                <p class="mb-0">Don't have an account yet? <a routerLink="/signup">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>