<div class="modal fade" id="editSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="skillForm!" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Edit Skill</h1>
          <button type="button" class="btn-close btn-lig" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div class="mb-3">
            <label for="name" class="form-label">Skill name</label>
            <input formControlName="name"
            type="text" class="form-control" id="name" name="name" placeholder="Java Development"
            [class.is-valid]="touchedAndValid('name')"
            [class.is-invalid]="touchedAndInvalid('name')">
            <div *ngIf="touchedAndInvalid('name') && skillForm?.get('name')?.hasError('required')"
            class="form-invalid">
              Required.
            </div>
            <div *ngIf="touchedAndInvalid('name') && skillForm?.get('name')?.hasError('maxlength')"
            class="form-invalid">
              Max length is 100 characters.
            </div>

          </div>
          <div class="mb-3">
            <label for="icon" class="form-label">Skill Icon</label>
            <input formControlName="icon"
            type="text" class="form-control" id="icon" name="icon" placeholder="fa fa-solid fa-java"
            [class.is-valid]="touchedAndValid('icon')"
            [class.is-invalid]="touchedAndInvalid('icon')">
            <div *ngIf="touchedAndInvalid('icon') && skillForm?.get('icon')?.hasError('required')"
            class="form-invalid">
              Required.
            </div>
            <div *ngIf="touchedAndInvalid('icon') && skillForm?.get('icon')?.hasError('maxlength')"
            class="form-invalid">
              Max length is 100 characters.
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea formControlName="description"
            class="form-control" placeholder="Tell people what you know about it!" id="description"
              name="description" style="height: 100px"
              [class.is-valid]="touchedAndValid('description')"
            [class.is-invalid]="touchedAndInvalid('description')"></textarea>
            <div *ngIf="touchedAndInvalid('description') && skillForm?.get('description')?.hasError('required')"
            class="form-invalid">
              Required.
            </div>
            <div *ngIf="touchedAndInvalid('description') && skillForm?.get('description')?.hasError('maxlength')"
            class="form-invalid">
              Max length is 500 characters.
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>