.card {
    min-width: 50%;
    background-color: rgba(196, 187, 187, 0.203);
    color:rgb(245, 255, 255);
}

.card-body {
    background-color: rgba(10, 10, 10, 0.32);
}

.form-invalid {
    color: rgb(203, 27, 27);
}

.usuarioCreado {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}