body {
    background: linear-gradient(to top right, #0172bd 0%, #000066 100%);
}

* {
    color:rgb(245, 255, 255);
}

hr {
    color: #FF00FF;
    border-color: #FF00FF;
    background-color: #FF00FF;
}

.form-invalid {
    color: rgb(203, 27, 27);
}

.section-separator {
    height: 2px;
}

.btn-add {
    transition: 0.2s ease-in-out;
}

.btn-add:hover {
    transform: scale(1.15);
}